/* @tailwind base; */
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* background-color: rgb(255, 255, 255); */
}

.navegacion{
    background-color:  #008000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;

    .navegacion__title{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    & img{
        width: 100px;
        height: 100px;
    }

    & h1{
        cursor: default;
        color:white;
    }


    & ul{
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        gap: 10px;
        list-style: none;

        & li{
            border-radius: 20px;
            padding: 5px;
            color:white;
            font-size: 1.3rem;

            & ul {
                display: none;
                width: 10%;

            }
            & a{
                color:white;
                text-decoration: none;
                font-size: 1.1rem;
                white-space: nowrap;
            }
            &:hover{
                font-weight: bold;
                & ul{
                    position: absolute;
                    display: block;
                    background-color:   #008000;
                    border-radius: 10px;
                    padding: 5px;
                    & li{
                        font-weight: normal;
                        padding: 5px;
                        &:hover{
                            background-color: rgb(229, 255, 0);
                            a{
                                color:   #008000;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

a{
    text-decoration: none;
}

.footer{
    padding: 1rem;
    background-color:  #008000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    & p{
        color:white;
    }
}

.section{
    padding: 5px;
    width: 100%;
    height: 100%;
    & > h1{
        color:  #008000;
        text-align: center;
        font-size: 3rem;
        cursor: default;
    }

    & div {
        display: flex;
        gap: 20px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 100%;
        & article{
            border: 2px solid  #008000;
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            width: 20%;
            background-color: white;
            border-radius: 10px;

            &:hover{
                transform: translateY(-10px); /* Eleva la caja 10px hacia arriba */
                box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.4);
            }

            & ul{
                list-style: none;
                padding: 0.5rem;
                & li{
                    padding: 0.5rem;
                    &:hover{
                        background-color: rgb(216, 176, 176);
                    }
                }
            }
        }
    }
}

article{
    border: 2px solid rgb(59, 246, 59);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 20%;
    background-color: white;
    border-radius: 10px;


    & ul{
        list-style: none;
        padding: 0.5rem;
        & li{
            padding: 0.5rem;
            &:hover{
                background-color: rgb(87, 245, 95);
            }
        }
    }
}

.form__label{
    @apply  block w-full text-lg text-[#008000] text-left font-bold;
}

.form__control{
    @apply  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
}

.form__button{
    @apply text-white bg-[#008000] hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
}
